<form action="/result" method="post">
  <label for="sentence">Enter in a sentence or phrase</label>
  <input type="text" name="sentence"><br>
  <label for="word">Enter in a word to count</label>
  <input type="text" name="word" maxlenght="1"><br>
  <button type="submit">Submit!</button>
</form>
